*.jpg
*.json
*.arff
aida/data/Analysis/*
*.class

aida/src/.DS_Store

aida/src/global/.DS_Store

aida/src/blurring/.DS_Store

aida/src/execute/.DS_Store

aida/src/featureExtraction/.DS_Store

aida/src/models/.DS_Store

aida/data/imageFailedNeedHuman.txt

aida/data/imagePassed.txt
