*.jpg
*.json
*.arff
aida/feature-extract-and-classify/data/Analysis/*
*.class

.DS_Store

aida/feature-extract-and-classify/data/*.txt

aida/feature-extract-and-classify/data/imageFailedNeedHuman.txt

aida/feature-extract-and-classify/data/imagePassed.txt

Master_Manifest.txt
build_manifest_log.txt
